<!doctype html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="imenik.css">
<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="imenik.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta charset="utf-8">
<title>Untitled Document</title>

</head>

<body>

<img id="pozadina"/>
	<div class="row-sm50"></div>
<div class="d-flex justify-content-center">
<div class="container-fluid">

<form action ="/userForm" method="post" class="form-vertical align-middle ver">
 <div class="col-md-d ver-col hor-col ">Poštovani,da bi koristili imenik prvo se morate logovati ili registrirati.</div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 col-md-offset-3 ver-col ">Email</label>
        <div class="col-sm-4 ver-col">
            <input  name="email" type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>


        <label for="inputPassword3" class="col-sm-2 col-md-offset-3 ver-col">Password</label>
        <div class="col-sm-4 ver-col">
            <input name="password" type="password" class="form-control" id="inputPassword3" placeholder="Password">

    </div>

        <div class="col-sm-offset-5 col-sm-3 ver-col">
            <div class="checkbox">
                <label>
                    <input type="checkbox">Remember me
                </label>

        </div>
    </div>

        <div class="col-sm-offset-5 col-sm-10">
            <button type="submit" class="btn btn-success" >Sign in</button>


        </div>

	</div>
	</form>
	<form action="/signUp" method ="get">
 <div class="col-sm-offset-5 col-sm-10">
 <button type="submit"   class="btn btn-secondary">Sign up</button>
</div>
</form>
	</div>


	</div>
</body>
</html>
